/* Style Should be here..  */
.admnloginpg {
	padding-top: 100px;
}
.w-5{
	display: none;
}
.shadow-sm {
	display: none;
}
.maincontactdetail {
	padding-top: 20px;
	padding-bottom: 20px;
}
.maincontactdetail .panel {
	padding-top: 30px;
	padding-bottom: 30px: 
}

/*Admin Small box style*/
.maindashboardadmin {
	padding-top: 50px;
}
.smldivc {
	padding: 10px;
}
.smldivc .inner {
	color: #FFF;
}
.bg-info, .bg-info>a {
    color: #fff !important;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.bg-info {
    background-color: #17a2b8!important;
}
.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.small-box>.inner {
    padding: 10px;

}
.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
}
.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;

}
.nav-link {
	background-color: #FFF;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    margin: 2px;
}

.nav-link:hover {
	background-color: #0d6efd;
	color: #FFF !important;
}
.xxd_dashboard .container .row h1 {
	    margin-bottom: 47px !important;
}



